<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha del Paciente - Entrega de Medicamentos</title>
    <link rel="stylesheet" href="{% static 'css/customDetMed.css' %}">
</head>
<body>
     <!-- NAVBAR -->
     <nav class="navbar">
        <h1>Administración de Medicamentos</h1>
    </nav>
    <div class="ficha-paciente">
        <!-- Fotografía del paciente -->
        <div class="foto">
            <img src="{% static 'img/señoraJuana.jpg' %}" alt="Fotografía del Paciente">
        </div>
        
        <!-- Información del paciente -->
        <div class="info">
            <h2>Información del Paciente</h2>
            <p><strong>RUT:</strong> 12.345.678-9</p>
            <p><strong>Nombre:</strong> Juana María Perez</p>
            <p><strong>Alergias a Medicamentos:</strong> Penicilina, Ibuprofeno</p>
        </div>
        
        <!-- Detalles de medicamentos -->
        <div class="medicamentos">
            <h3>Horario de Medicamentos</h3>
            <ul>
                <li><strong>8:00 AM:</strong> Paracetamol (500mg)</li>
                <li><strong>12:00 PM:</strong> Aspirina (100mg)</li>
                <li><strong>8:00 PM:</strong> Omeprazol (20mg)</li>
            </ul>
            <h3>Medicamentos Necesarios</h3>
            <ul>
                <li>Paracetamol</li>
                <li>Aspirina</li>
                <li>Omeprazol</li>
            </ul>
        </div>
    </div>
</body>
</html>
