<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bulma/css/bulma.css">
    <link rel="stylesheet" href="../static/bulma/custom.css">


    <title>Portal Colaboradores - DIOX 666</title>    
</head>
<body>

    <div class="container">
        <h1 class="title">DIOX 666</h1>
        <p class="subtitle">Portal colaboradores</p>
    </div>


    <div class="card">
        <div class="card-header">
            <h2 class="login-header">INGRESO</h2>
        </div>
        
        <div class="card-content">
            <p>Ingresa con tus credenciales de colaborador</p>

        <div class="correo p-5">
            <input class="input" type="email" placeholder="Correo">
        </div>

        <div class="contraseña p-5">
            <input class="input" type="password" placeholder="Contraseña">
        </div>
        <p><a href="#" class="forgot-password">¿Olvidaste tus credenciales? Haz click aquí</a></p>
        
        </div>
    </div>
</html>